label {
  float: left;
  font-weight: bold;
}
.upload-button {
  margin-top: 5px;
}
.profile-photo {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}
.required-field::after {
  content: "*";
  color: red;
  margin-left:2px
}
#edit-button {
  background-color: #8F9ED9;
  border-color: #8F9ED9;
}
#edit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}