#user-name {
  text-align:left;
  margin-top: 10px;
}
#user-description {
  text-align:left;
}
#user-email {
  text-align: left;
}
#user-address {
  text-align: left;
}
#user-link {
  text-align: left;
}
sup {
  top: .2em;
  right: .5em;
  position: absolute;
}
.profilePage {
  background-color: #FAFAFA;
}
.header {
  background-image: url("../Components/Default/HeaderPics/Pet-Banner.jpeg");
  background-size: 700px 150px;
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
  background-color: #F8F9FA;
}