#user-name {
  text-align:left;
  margin-top: 10px;
}
#user-description {
  text-align:left;
}
#user-email {
  text-align: left;
}
#user-address {
  text-align: left;
}
#user-link {
  text-align: left;
}
sup {
  top: .2em;
  right: .5em;
  position: absolute;
}
.profilePage {
  background-color: #FAFAFA;
}
#profile-button {
  background-color: #8F9ED9;
  border-color: #8F9ED9;
}
#profile-button:hover {
  background-color: #F4976C;
  border-color: #F4976C;
}