#user-name {
  text-align:left;
  margin-top: 10px;
}
#user-description {
  text-align:left;
}
#user-email {
  text-align: left;
}
#user-address {
  text-align: left;
}
#user-link {
  text-align: left;
}
sup {
  top: .2em;
  right: .5em;
  position: absolute;
}
.profilePage {
  background-color: #FAFAFA;
}
#profile-button {
  background-color: #8F9ED9;
  border-color: #8F9ED9;
}
#profile-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.page-size{
  position: relative;
  left: 40px;
  text-align-last:center;
  width: 50px;

}
.i-per-page{
  position: relative;
  left: 90px;
  top: 10px;
  text-align-last:center;
}
.flex-wrapper-favList {
  display: flex;
  min-height: 40vh;
  flex-direction: column;
  justify-content: flex-start;
}