.flex-wrapper-reset-page {
  display: flex;
  min-height: 40vh;
  flex-direction: column;
  justify-content: flex-start;
}
#reset-password-button {
  background-color: #8F9ED9;
  border-color: #8F9ED9;
}
#reset-password-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}