#write-review-button {
  background-color: #8F9ED9;
  border-color: #8F9ED9;
}
#write-review-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#star-filter {
  color: black;
}
#star-filter:hover {
  color: #F4976C;
}
#progress-bar {
  margin-top: 8px;
}