.App {
    background-color: white;
  }
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }

  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }

  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }


  .i-edit {
    position: relative;
    left: 190px;
    top: 35px;
  }

  .i-signup {
    position: relative;
    left: 70px;
    top: 35px;
  }

  .i-login {
    position: relative;
    left: 55px;
    top: 35px;
  }

  .i-delete {
    position: relative;
    left: 435px;
    top: -30px;
  }

  .i-heart {
    position: relative;
    left: 106px;
    top: 50px;
    font-size: 30px;
    /* color: white; */
  }
  .i-changepw {
    position: relative;
    left: 37px;
    top: -29px;
  }

  .hheart {
    position: relative;
    top: 0px;
    color: black;
    font-size: 20px;
  }

  .pagination > li > a
  {
      background-color: rgb(255, 255, 255);
      color: #000000;
  }

  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover
  {
      color: #5a5a5a;
      background-color: rgb(255, 255, 255);
      border-color: rgb(0, 0, 0);
  }

  .pagination > .active > a
  {
      color: white;
      background-color: #8F9ED9 !Important;
      border: solid 1px #8F9ED9 !Important;
  }


  .pagination > .active > a:hover
  {
      background-color: #bdc5e5 !Important;
      border: solid 1px #000000;
  }

  #edit-button {
    position: relative;
    left: 377px;
  }

  #edit-password-button {
    position: relative;
    left: 240px;
    top: 5px;
  }

  #delete-button {
    position: relative;
    right: 13px;
    bottom: -5px;
  }




