.align-image {
  margin: 5px;
  border-radius: 50%;
}

.member {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 0px;
  color: #303C6C;
  margin: 5px;
}

.member:hover{
  background: #FBE8A6;
  color:#fff;
  cursor: pointer;
}