.list-title {
  font-weight: bold;
  color: white;
  background-color: #303C6C;
  height: 30px;
}
.contact-list {
  width: 60%;
  max-height: 25em;
  overflow-y: auto;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(254, 249, 242);
}

.list {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
}