.input-bar {
  position: relative;
  padding-bottom: 3%;
}

.input-bar-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-message {
  width: 83%;
  border-radius: 5px;
}

.input-button {
  border-radius: 5px;
  background-color: #FF9966;
  color: #4D4751;
}

.input-button:hover {
  background: #FF9966;
  color: #4D4751;
  cursor: pointer;
  font-weight: bolder;
}
