.input-bar {
  position: relative;
  padding-bottom: 3%;
}

.input-bar-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-message {
  width: 83%;
  border-radius: 5px;
}

.input-button {
  border-radius: 5px;
  background-color: white;
  color: #8F9ED9;
}

.input-button:hover {
  background: #F4976C;
  color: black;
  cursor: pointer;
}
