@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

.chat-content {
  width:100%;
  height: 25em;
  /* margin-left: 10px; */
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

/* .chat-messages {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
} */

.message {
  padding:5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
  border-radius: 5px;
  background-color: antiquewhite;
  min-width: 20px;
  max-width: 70%;
  min-height: 50px;
  align-self: flex-start;
  padding: 5px 10px;
}

.message-data{
  padding:5px;
  font-family: 'Nunito', sans-serif;
}

.message.self {
  justify-content: end;
  background-color: aliceblue;
  align-self: flex-end;
  text-align: right;
  min-width: 20px;
  max-width: 70%;
  min-height: 50px;
  padding: 5px 10px;
}

.avatar{
  /* background-color: #303C6C; */
  padding: 3px 5px;
  border-radius: 5px;
  color:#fff;
  height: 35px;
  font-weight: bolder;
}
.avatar.self{
  /* color:#000; */
  /* background-color: #F4976C; */
  height: 35px;
  font-weight: bolder;
}

.avatar img{
  height:35px;
  width:35px
}