.footer {
  background-color: #8F9ED9;
  width: 100%;
  color: white;
  padding-top: 10px;
  margin-top: 100px;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}
.footerImg{
  height: 30px;
}
#psb-image, #pd-image, #pp-image, #pmf-image{
  /* width: 150px; */
  height: 100px;
  margin-bottom: 10px;
}

#ascent {
  padding-top: 1em;
}

.footerTitle {
  color: white;
}

.firstCol{
  border-right: white solid 1px;
}

.teamMembers {
  text-align: left;
  font-size: 0.8em;;
}

.teamCol{
  text-align: left;
}