.footer {
  background-color: #8F9ED9;
  width: 100%;
  color: white;
  padding-top: 10px;
  margin-top: 100px;
}
.footerImg{
  height: 30px;
}
#psb-image{
  width: 150px;
  margin-bottom: 10px;
}
#pd-image{
  width: 100px;
  margin-bottom: 10px;
}