.header {
  height: 90px;
  background-color: #FAFAFA;
  width: 100%;
}
#pet-logo {
  width: 100px;
  float: left;
}
#pet-connect {
  width: 150px;
  float: left;
}
#user-image-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
}