.advSearchContainer{
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 7%;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 10px;
  height: 100vh;
  /* grid-template-areas: "filter filter filter" */
}

.filterType{
  margin: 5px;
}

.gender{
  grid-row-start: 1 / span 1;
  gap: 10px;
}

.gender{
  grid-row-start: 2 / span 1;
  gap: 10px;
}

.age{
  grid-row-start: 3 / span 1;
  gap: 10px;
}

.breed{
  grid-row-start: 4 / span 1;
  gap: 10px;
}

.filter{
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
}

/* .filterType{
  grid-row-start: 1 / span 1;
} */

.dropdown{
  grid-row-start: 2 / span 1;
  width: 80%;
  height: 40%;
}

.displayBlock{
  display: block;
}

#applyFilterButton{
  grid-row-start: 5 / span 1;
  margin: 10px;
  gap: 10px;
  background-color: #F4976C;
  border-color: #F4976C
}

#clearFilterButton{
  grid-row-start: 6 / span 1;
  margin: 10px;
  gap: 10px;
  background-color: #F4976C;
  border-color: #F4976C;
  width: 50%;
  align-self: center;
  align-items: center;
}

/* .optionContainer li:hover,
.optionContainer .highlight {
  background: none;
} */