.advSearchContainer{
  display: grid;
  grid-template-rows: 15% 15% 15%;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 10px;
  height: 100vh;
  /* grid-template-areas: "filter filter filter" */
}

.filterType{
  margin: 5px;
}

.gender{
  border: solid green;
  grid-row-start: 1 / span 1;
  gap: 10px;
}

.age{
  border: solid green;
  grid-row-start: 2 / span 1;
  gap: 10px;
}

.breed{
  border: solid green;
  grid-row-start: 3 / span 1;
  gap: 10px;
}

.filter{
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  border: solid green;
}

.filterType{
  grid-row-start: 1 / span 1;
}

.dropdown{
  grid-row-start: 2 / span 1;
  width: 80%;
  height: 40%;
}

.displayBlock{
  display: block;
}

/* .optionContainer li:hover,
.optionContainer .highlight {
  background: none;
} */