.topBar{
    background-color: yellow;
}

.main {
  display: grid;
  gap: 10px;
  grid-template-areas:
    'left right';
  grid-template-columns: 4fr 10fr;
  margin-top: 20px;
  background-color: #FAFAFA;
}

.advancedSearchCol {
    grid-area: left;
    height: 100vh;
}

.searchResultsCol {
    grid-area: right;
    /* border: solid blue; */
}

#noMatchAlert {
  margin-left: 9rem;
  position: absolute;
}