

.searchGroup{
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: ". bar1 bar2 sbtn ."
                      ".  dd    dd    dd  .";
  /* margin-bottom:100px; */
  padding-right: 100px;
}

#searchInput {
  grid-area: bar1;
  height: 40px;
  vertical-align: bottom;
}

#zipcodeInput{
  grid-area: bar2;
  height: 40px;
  vertical-align: bottom;
}

#searchButton {
  grid-area: sbtn;
  height: 40px;
  vertical-align: bottom;
  background-color: #8F9ED9;
  color: white;
}

#searchButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.searchDropdownContainer {
  grid-area: dd;
  background-color: rgba(250, 235, 215, 0.8);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  z-index: 1;
  padding-left: 1em;

}

.boldText {
  font-weight: bold;
}

.searchOption{
  height: 30px;
  vertical-align: bottom;
}

#searchForm {
  max-height: fit-content;
}