.addpet-form-container {
    margin-top: 30px;

}

.addpet-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    max-width: 60%;
    /* max-width: 60%; */
}

.addpet-form-section {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 400px;
}

.form-fields-2-row {
    width: 180px;
    /* align-self: center; */
}

.form-fields-3-row {
    width: 80px;
    align-self: center;
}

.form-fields {
    width: 400px;
    align-self: center;

}

.photos-form-container {
    width: 400px;
    align-self: center;
}

.buttons-form-container {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
}


.form-error {
    text-align: start;
    font-size: 10px !important;
}

.pet-photos-control {
    /* display: none !important; */
}

.form-error-photos {
    text-align: end;
    font-size: 10px !important;
}

form-input {
    font-size: 8px !important;
}
