.addpet-form-container {
    margin-top: 30px;

}

.addpet-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    max-width: 60%;
    /* max-width: 60%; */
}

.addpet-form-section {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 500px;
}

.form-fields-2-row {
    width: 240px;
    /* text-align: start; */
    /* align-self: center; */
}

.form-fields-3-row {
    width: 150px;
    align-self: start;
}

.form-fields {
    width: 500px;
    align-self: center;

}

.photos-form-container {
    width: 500px;
    align-self: center;
}

.buttons-form-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    width: 500px;
}


.form-error {
    text-align: start;
    font-size: 10px !important;
}

.pet-photos-control {
    /* display: none !important; */
}

.form-error-photos {
    text-align: end;
    font-size: 10px !important;
}

.form-input {
    font-size: 14px !important;
}

.add-pet-button {
    background: #8F9ED9;
    color: white;
    padding: 8px 16px;
    width: 120px;
    border-radius: 5px;
    border: none;
}

.add-pet-button:hover {
    background: #7387d7;
}

.cancel-pet-button {
    background: #6c757d;
    color: white;
    padding: 8px 16px;
    width: 120px;
    border-radius: 5px;
    border: none;
}

.cancel-pet-button:hover {
    background: #565e64
}

.vaccination-pet-button {
    font-size: 14px !important;
    width: 240px !important;
    text-align: start !important;
    /* color: #8F9ED9 !important;
    padding: 0px !important; */
}

.vaccination-pet-button:hover {
    /* color: #7387d7 !important; */
}
