.editpet-form-container {
  margin-top: 30px;
}

.edit-photos-form-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: auto;
  width: 500px;
}

.existing-preview-container {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px 15px;
  width: 500px;
}

.edit-pet-button {
  background: #8F9ED9;
  color: white;
  padding: 8px 16px;
  width: 140px;
  border-radius: 5px;
  border: none;
}

.edit-pet-button:hover {
  background: #7387d7;
}