.profile-page-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    /* width: 90vw; */
}

.profile-page-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.profile-page-owner-buttons {
    font-size: 14px !important;
    width: 240px !important;
    text-align: start !important;
}

.profile-page-left-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(143, 158, 217,0.3);
    border-radius: 20px;
    justify-content: flex-start;
    padding: 20px 20px;
    align-items: center;
    flex-grow: 1.5;
    flex-basis: 0;
}

.profile-page-right-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(143, 158, 217,0.3);
    border-radius: 20px;
    padding: 20px 20px;
    justify-content: flex-start;
    /* align-items: center; */
    flex-grow: 2;
    flex-basis: 0;
}

.profile-page-column-section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
}

.profile-page-tab-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.profile-page-edit {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 20px;
}

.profile-page-cover-photo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border: solid 5px;
    border-color: #8F9ED9;
    border-radius: 50%;
    overflow: hidden;
}

.profile-page-cover-photo {
    position: absolute;
    max-width: 250px;
}

.profile-page-likes-container {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 30px;
    justify-content: center;
    background-color: #8F9ED9;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-page-likes-count-container {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    justify-content: center;
    background-color: #4562d3;
    font-size: 8px;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.profile-page-report-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 30px;
    justify-content: center;
    background-color: #8F9ED9;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-page-report-tag {
    display: flex;
    position: absolute;
    bottom: -5px;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    justify-content: center;
    background-color: #4562d3;
    font-size: 8px;
    color: white;
    width: 45px;
    height: 12px;
    border-radius: 6px;
}


.profile-page-photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(143, 158, 217,0.6);
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 40px;
    gap: 10px;
}

.profile-page-photo-preview {
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    /* border: solid 1px;
    border-color: #4562d3; */
    /* background-color: #8F9ED9; */
}

.profile-page-photo {
    width: auto;
    height: 100%;
}


.profile-page-general-info-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    /* position: relative; */
    margin-top: 10px;
    margin-bottom: 40px;
}

.profile-page-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #4562d3;
}

.profile-page-pet-icon-text-pair {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 6px;
}

.profile-page-dashboard {
    display: flex;
    flex-direction: row;
    background-color: #8F9ED9;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 5px;
    justify-content: space-around;
}

.profile-page-dashboard-empty {
    display: flex;
    flex-direction: row;
    background-color: #8F9ED9;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 5px;
    margin: 15px 15px 8px 15px;
    justify-content: space-around;
}

.profile-page-tab-pane {
    display: flex;
    position: absolute;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    text-align: left;
}

.profile-page-tab {
    background-color: #8F9ED9 !important;
    border: solid 0.2px !important;
    border-color: white !important;
    color: white !important;
    font-size: 12px !important;
    /* justify-self:flex-start; */
}

.profile-page-tab:hover {
    background-color: white !important;
    color: #8F9ED9!important;
    /* border: solid 1px !important;
    border-color: #8F9ED9 !important;
    border-bottom-color: white; */
    font-size: 14px !important;
}

.profile-page-tab.active {
    background-color: white !important;
    color: #8F9ED9!important;
    /* border: solid 1px !important; */
    /* border-bottom: none; */
    /* border-color: #8F9ED9 !important; */
    font-size: 14px !important;
}

.profile-page-pet-details-container {
    display: flex;
    flex-direction: row;
}

.profile-page-pet-details-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile-page-pet-property {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.profile-page-pet-property-key {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    width: 130px;
    color: #4562d3
}

.profile-page-pet-property-value {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-transform: capitalize;
    width: 130px;
    color: black;
}

.profile-page-contact-card {
    display: flex;
    direction: column;
    justify-content: center;
}


.profile-page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px 15px;
    margin-bottom: 40px;
}


.profile-page-gallery-photo {
    max-height: 800px;
}

.profile-page-gallery {

    width: 1000px !important;
}

