.react_lightgallery_item {
    display: inline-block;
}

.contact-card-tab {
    display: flex;
    justify-content: center;
}

.profile-page-photo-preview {
    display: block;
    width: auto;
    height: 100%;
}

.profile-page-photo-container {
    display: flex;
    flex-direction: row;
    gap: 15px 15px;
}

.profile-page-container {
    display: flex;
}

.profile-page-left-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

}

.profile-page-right-container {
    display: flex;
    flex-direction: column;

    flex-basis: 50%;

}