.react_lightgallery_item {
    display: inline-block;
}

.contact-card-tab {
    display: flex;
    justify-content: center;
}

.profile-page-cover-photo-container {
    max-height: 500px;
}

.profile-page-cover-photo {
    height: 100%;
}

.profile-page-photo-preview {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.profile-page-photo-container {
    display: flex;
    flex-direction: row;
    gap: 15px 15px;
}

.profile-page-photo {
    width: auto;
    height: 100%;
}

.profile-page-container {
    display: flex;
    margin: auto;
    width: 1400px;
    justify-content: space-between;
}

.profile-page-left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.profile-page-right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-start;
    width: 600px;
}

.profile-page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px 15px;
    margin-bottom: 40px;
}

.profile-page-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px 15px;
    margin-bottom: 40px;
    color: #8F9ED9;
}