.photo-uploader-container {
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: column; */
  /*background: lightslategrey;*/
  max-width: 600px;
  margin: auto;
  /* padding: 30px; */
}

.pu-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.pu-status {
  text-align: end;
  margin-top: 5px;
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.pu-status-error {
  text-align: end;
  margin-top: 5px;
  margin-bottom: 0.5rem;
  font-size: 10px;
  color: #dc3545;
}

.pu-browse-button-inactive {
  background: #6c757d;
  color: white;
  padding: 8px 16px;
  width: 120px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.pu-browse-button-inactive:hover {
  background: #565e64
}


.pu-browse-button-active {
  background: #8F9ED9;
  color: white;
  padding: 8px 16px;
  width: 120px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.pu-browse-button-active:hover {
  background: #7387d7;
}

/* .pu-upload-button {
  background-color: rgb(64, 64, 64);
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  margin-top: 30px;
}

.pu-upload-button:hover {
  background-color: #777;
  cursor: pointer;
} */


/* pls avoid css of general tags */

/* span {
.dropzone-icon-active {
  font-size: 2rem;
  color: rgb(40, 87, 196);
}

.dropzone-icon-inactive {
  font-size: 2rem;
  color: rgb(108, 117, 125);
  margin-bottom: 10px;
}

span {
  font-size: 2rem;
  color: #777;
} */

.dropzone {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  border: 2px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
}

.accept {
  border-color: #7387d7 !important;
}

.reject {
  border-color: rgb(171, 8, 8) !important;
}

.focus {
  border-color: rgb(64, 64, 64) !important;
}

.preview-container {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px 15px;
}
