.photo-uploader-container {
  padding-top: 30px;
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: column; */
  /*background: lightslategrey;*/
  /* max-width: 600px; */
  /* margin: auto; */
  /* padding: 30px; */
}

.pu-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.pu-status {
  text-align: end;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.pu-browse-button {
  background-color: rgb(64, 64, 64);
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
}

.pu-browse-button:hover {
  background-color: #777;
  cursor: pointer;
}

.pu-upload-button {
  background-color: rgb(64, 64, 64);
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  margin-top: 30px;
}

.pu-upload-button:hover {
  background-color: #777;
  cursor: pointer;
}

.dropzone-icon-active {
  font-size: 2rem;
  color: rgb(40, 87, 196);
}

.dropzone-icon-inactive {
  font-size: 2rem;
  color: rgb(108, 117, 125);
  margin-bottom: 10px;
}

span {
  font-size: 2rem;
  color: #777;
}

.dropzone {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  border: 2px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
}

.accept {
  border-color: rgb(40, 87, 196) !important;
}

.reject {
  border-color: rgb(171, 8, 8) !important;
}

.focus {
  border-color: rgb(64, 64, 64) !important;
}

.preview-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.thumb-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb {
  /* display: 'inline-flex', */
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8;
  margin-right: 8;
  width: 80px;
  height: 80px;
  padding: 4px;
  box-sizing: border-box;
}

.thumb-inner {
  display: flex;
  position: relative;
  min-width: 0;
  overflow: hidden;
}

.thumb-photo {
  display: block;
  width: auto;
  height: 100%;
}

.thumb-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  color:rgb(40, 87, 196);
  font-size: 14px;
  text-align: start;
}

.thumb-remove-button:hover {
  color:rgb(171, 8, 8);
  cursor: pointer;
}

.thumb-radio-button {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 12px;
}

.thumb-radio-button input:hover {
  cursor: pointer;
}

.thumb-radio-button-label {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}

.thumb-radio-button-label:hover {
  color:rgb(40, 87, 196);
  font-weight: 700;
  cursor: pointer;
}

