.preview-container {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 100px;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.thumb-information {
  display: flex;
  flex-direction: column;
}

.thumb {
  /* display: 'inline-flex', */
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8;
  margin-right: 8;
  width: 80px;
  height: 80px;
  padding: 4px;
  box-sizing: border-box;
}

.thumb:active{
  border: 2px solid;
  border-color: rgb(40, 87, 196);
}

.thumb-inner {
  display: flex;
  position: relative;
  min-width: 0;
  overflow: hidden;
}

.thumb-photo {
  display: block;
  width: auto;
  height: 100%;
}

.thumb-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  color:rgb(40, 87, 196);
  font-size: 14px;
  /* text-align: start; */
}

.remove-button {
  font-size: 8px !important;
  padding: 3.2px !important;
}

.thumb-remove-button:hover {
  color:rgb(171, 8, 8);
  cursor: pointer;
}

.thumb-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7px;
  margin-bottom: 7px;
}

.thumb-radio-button {
  font-size: 12px;
  align-self: flex-end;
}

.thumb-radio-button input:hover {
  cursor: pointer;
}

.thumb-radio-button-label {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}

.thumb-radio-button-label:hover {
  color:rgb(40, 87, 196);
  font-weight: 700;
  cursor: pointer;
}

.progress {
  height: 0.5rem !important;
}

