@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

.member-list {
  width: 20%;
}

.chat-content {
  width:80%;
  height: 30em;
  margin-left: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  padding:5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
}
.message-data{
  padding:5px;
  font-family: 'Nunito', sans-serif;
}

.message.self {
  justify-content: end;
}

.avatar{
  background-color: #303C6C;
  padding: 3px 5px;
  border-radius: 5px;
  color:#fff;
  height: 35px;
  font-weight: bolder;
}
.avatar.self{
  color:#000;
  background-color: #F4976C;
  height: 35px;
  font-weight: bolder;
}